<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let head of headers" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" scope="row" >
        <td style="text-align: center">{{order.cantidad}}</td>
        <td>{{order.nombre}}</td>
        <td>{{order.descripcion}}</td>
        <td>{{order.fecha | date: 'dd/MM/yyyy'}}</td>
        <td>{{order.fecha | date:'shortTime'}}</td>
        <td>{{order.email}}</td>
        <td>{{order.precio}}</td>
        <td>{{order.estado}}</td>
        <td>{{order.categoria}}</td>
        <td *ngIf="order.ubicacion._latitude == undefined && order.ubicacion._longitude == undefined">
          Recoger aquí</td>
        <td *ngIf="order.ubicacion._latitude != undefined && order.ubicacion._longitude != undefined">
          {{order.ubicacion._latitude}}°, {{order.ubicacion._longitude}}°</td>
        <td>{{order.entrega}}</td>
        <td style="text-align: center;vertical-align: middle">
          <button class="btn-finish">
            <i style="font-size: 12px;" class="material-icons" (click)="isFinished()">
              done
            </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination (click)="updateApprovedPagination()" class="col-md-12 justify-content-center" [collectionSize]="totalPages" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>