<h5 *ngIf="orders?.length == 0" style="margin-top:3%; text-align: center" >No hay nada para mostrar</h5> 
<div *ngIf="orders?.length > 0" class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let head of headers" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" scope="row">
        <td style="text-align: center">{{order.cantidad}}</td>
        <td>{{order.nombre}}</td>
        <td>{{order.descripcion}}</td>
        <td>{{order.fecha | date: 'dd/MM/yyyy'}}</td>
        <td>{{order.fecha | date:'shortTime'}}</td>
        <td>{{order.email}}</td>
        <td>{{order.precio}}</td>
        <td>{{order.categoria}}</td>
        <td *ngIf="order.ubicacion._latitude == undefined && order.ubicacion._longitude == undefined">
          Recoger aquí</td>
        <td *ngIf="order.ubicacion._latitude != undefined && order.ubicacion._longitude != undefined">
          <button (click)="openMapModal(order.ubicacion._latitude, order.ubicacion._longitude)"
          class="center-icon-btn btn-success" ngbTooltip="Abrir en mapa">
            <i class="material-icons icon">
              open_in_new
            </i></button>  
        </td>
        <td style="text-align: center;">
          <button class="btn-finish center-icon-btn" ngbTooltip="Finalizar pedido">
            <i style="font-size: 12px;" class="material-icons icon" (click)="isFinished(order.id)">
              done
            </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination *ngIf="orders?.length > 0" (click)="updateApprovedPagination($event)" class="col-md-12 justify-content-center" [collectionSize]="totalPages" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
<!-- confirmation modal -->
<div class="modal" id="modalApprovedSuccess" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transacción exitosa</h5>
      </div>
      <div class="modal-body">
        <p>{{successMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- failed modal -->
<div class="modal" id="modalApprovedFailed" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transacción fallida</h5>
      </div>
      <div class="modal-body">
        <p>{{failedMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- open map modal -->
<div class="modal" id="modalApprovedMap" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ubicación del cliente</h5>
      </div>
      <div class="modal-body">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>