.bar-content{
    margin: 2%;
}   

.order {
    background-image: url("/../assets/icons/orders_1.jpg");
}

.menu-tool{
    font-size: 50px;
    color: lightblue;
    text-align: right
}

.dropdown-toggle::after {
    display:none;
}