<main role="main">
  <div class="centerDiv">
    <div class="bar-content">
      <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <div class="btn-group" *ngFor="let item of orderItems">
          <button class="btn btn-danger" data-toggle="pill" (click)="goTo(item.href)" role="tab">{{item.item}}</button>
        </div>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
<!-- confirmation modal -->
<div class="modal" id="modalSuccess" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transacción exitosa</h5>
      </div>
      <div class="modal-body">
        <p>{{successMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- failed modal -->
<div class="modal" id="modalFailed" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transacción fallida</h5>
      </div>
      <div class="modal-body">
        <p>{{failedMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>