<main role="main">
    <!-- show categories -->
  <section class="jumbotron order" style="margin: 0%; padding: 10px 8px 12px">
    <div ngbDropdown class="d-inline-block">
      <i ngbDropdownToggle class="material-icons menu-tool">
        more_vert
        </i>
      <div ngbDropdownMenu>
        <div *ngFor="let o of orderOpts">
          <button (click)="otherOptions(o.opt)" class="dropdown-item">{{o.item}}</button>
        </div> 
      </div>
    </div>
    <div class="container text-center">
      <h5 class="card-title font-subtitle">Lista de pedidos</h5>
      <h6 class="card-title font-title">{{restName}}</h6>
      <label style="margin-top: 6%" class="col col-form-label font-normal-sub">Tipos de pedidos</label>  
      <div class="centerDiv">
        <ul class="nav justify-content-center" role="tablist">
          <li style="margin: 0% 1%" *ngFor="let item of orderItems">
            <button class="btn btn-info" data-toggle="pill" (click)="goTo(item.href)" role="tab">{{item.item}}</button>
          </li>
        </ul>
      </div>
    </div>
    <div style="text-align: right;">
      <button (click)="deleteExpiredOrders()" [disabled]="currentOrders" class="center-icon-btn btn btn-warning" ngbTooltip="Eliminar expirados"><i class="material-icons icon">
        delete_forever
      </i></button>
    </div>
  </section>
  <!-- confirmation modal -->
  <div class="modal" id="modalSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Transacción exitosa</h5>
        </div>
        <div class="modal-body">
          <p>{{successMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- failed modal -->
  <div class="modal" id="modalFailed" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Transacción fallida</h5>
        </div>
        <div class="modal-body">
          <p>{{failedMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- declined modal -->
  <div style="width:100%"  class="modal" id="modalDeclined" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div  class="modal-header">
          <h5 class="modal-title">Pedidos rechazados</h5>
        </div>
        <div class="modal-body">
          <h5 *ngIf="declinedOrders?.length == 0" style="margin-top:3%; text-align: center" >No hay nada para mostrar</h5> 
          <div *ngIf="declinedOrders?.length > 0" class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th *ngFor="let head of declinedHeaders" scope="col">{{head}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of declinedOrders" scope="row">
                  <td style="text-align: center">{{order.cantidad}}</td>
                  <td>{{order.nombre}}</td>
                  <td>{{order.descripcion}}</td>
                  <td>{{order.fecha | date: 'dd/MM/yyyy'}}</td>
                  <td>{{order.fecha | date:'shortTime'}}</td>
                  <td>{{order.email}}</td>
                  <td>{{order.precio}}</td>
                  <td>{{order.categoria}}</td>
                  <td *ngIf="order.ubicacion._latitude == undefined && order.ubicacion._longitude == undefined">
                    Recoger aquí</td>
                  <td *ngIf="order.ubicacion._latitude != undefined && order.ubicacion._longitude != undefined">
                      <button (click)="openMapModal(order.ubicacion._latitude, order.ubicacion._longitude)"
                      class="center-icon-btn btn-success" ngbTooltip="Abrir en mapa"><i class="material-icons icon">
                        open_in_new
                        </i></button>  
                    </td>
                  <td>{{order.estado.razon}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <ngb-pagination *ngIf="declinedOrders?.length > 0" (click)="updateDeclinedPagination($event)" [collectionSize]="totalPages" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Atras</button>
        </div>
      </div>
    </div>
  </div>
  <!-- finished orders modal -->
  <div style="width:100%" class="modal" id="modalFinished" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div  class="modal-header">
          <h5 style="width:85%" class="modal-title">Finalizados</h5>
        </div>
        <div class="modal-body">
          <h5 *ngIf="finishedOrders?.length == 0" style="margin-top:3%; text-align: center" >No hay nada para mostrar</h5> 
          <div *ngIf="finishedOrders?.length > 0" class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th *ngFor="let head of finishedHeaders" scope="col">{{head}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of finishedOrders" scope="row">
                  <td style="text-align: center">{{order.cantidad}}</td>
                  <td>{{order.nombre}}</td>
                  <td>{{order.descripcion}}</td>
                  <td>{{order.fecha | date: 'dd/MM/yyyy'}}</td>
                  <td>{{order.fecha | date:'shortTime'}}</td>
                  <td>{{order.email}}</td>
                  <td>{{order.precio}}</td>
                  <td>{{order.categoria}}</td>
                  <td *ngIf="order.ubicacion._latitude == undefined && order.ubicacion._longitude == undefined">
                    Recoger aquí</td>
                  <td *ngIf="order.ubicacion._latitude != undefined && order.ubicacion._longitude != undefined">
                      <button (click)="openMapModal(order.ubicacion._latitude, order.ubicacion._longitude)"
                      class="center-icon-btn btn-success" ngbTooltip="Abrir en mapa"><i class="material-icons icon">
                        open_in_new
                        </i></button>  
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <ngb-pagination *ngIf="finishedOrders?.length > 0" (click)="updateFinishedPagination($event)" [collectionSize]="totalPages" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Atras</button>
        </div>
      </div>
    </div>
  </div>
  <!-- open map modal -->
  <div class="modal" id="orderModalMap" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ubicación del cliente</h5>
        </div>
        <div class="modal-body">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
