  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Restaurante Pancho</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div *ngFor="let item of navItems" class="navbar-nav">
          <a class="nav-item nav-link" href="#">{{item.item}}</a>
      </div>
    </div>
  </nav>
  
  <div class="card centerDiv" style="width: 75%; margin-top: 6%">
    <div class="card-body">
        <h5 class="card-title">Menu Pancho Restaurante</h5>
        <div class="form-group row">
          <div class="col">
            <label class="col col-form-label">Categoría: </label>
          </div>
          <div class="col">
            <select id="selectedCategory" class="form-control">
              <option *ngFor="let cat of categories"
                [value]="cat">"{{cat}}"</option> 
            </select>
          </div>
        </div>
        <!-- menu list -->
      <!-- <div *ngFor="let platillo of platillos">
          <div class="form-group row">
            <img class="imageB" src="platillo.imagen"
            name="profile" alt="Card image cap">
          <div class="col">
            <label class="col col-form-label">{{platillo.nombre}}</label>
          </div>
          <div class="col">
            <button class="btn btn-primary" type="button">Ver/Editar</button>
            <button class="btn btn-primary" type="button">Eliminar</button>
          </div>
        </div>
      </div> -->
    </div>
  </div>