/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Pangolin');
/* body {
    background: url("assets/icons/wallpaper_restaurant_3.jpg");
} */
.imageCircle {
    border-radius: 50%;
    width: 20%;
}
.centerDiv{
    margin:0 auto;
    width: 100%;
    text-align: center
}
.centerBtn{
    text-align: center;
}
.centerTitle {
    text-align: center;
}
.acceptButton {
    background-color: rgb(252, 54, 80);
    color: #fff;
    font-weight: bold;
    font-size: large;
    border: none;
}
.cancelButton {
    background-color: rgb(177, 177, 177);
    color: #fff;
    font-weight: bold;
    font-size: large;
    border: none;
}
body, html {
    height: 100%;
    width: 100%;
}
.opacity {
    opacity: 0.7;
}

.font-title {
    font-family: 'Pangolin', cursive;
    font-size: 50px;
    color: white;
}

.font-subtitle {
    font-family: 'Pangolin', cursive;
    font-size: 25px;
    color: blanchedalmond;
}

.font-normal-sub {
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    color: white;
}
textarea { 
    resize: none; 
}   

.btn-add {
    border-radius: 50%;
    font-size: 24px
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	text-align:center;  
	box-shadow: 2px 2px 3px #999;
}