<main role="main">
  <!-- show categories -->
  <section class="jumbotron text-center menu" style="margin: 0%">
    <div class="container">
      <h5 class="card-title font-subtitle">Menú de</h5>
      <h6 class="card-title font-title">McDonalds</h6>
      <label style="margin-top: 6%" class="col col-form-label font-normal-sub">Observar platillos por categoría</label>  
        <div class="form-group row">
          <div class="col-md-4 offset-md-4">
            <select id="selectedCategory" [(ngModel)]="catSelected" (change)="updateMenu()" class="form-control opacity">
                <option *ngFor="let cat of categories"
                  [value]="cat">{{cat}}</option> 
              </select>
            </div>
        </div>
    </div>
  </section>
  <!-- platillos -->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div *ngFor="let plat of platillos$" class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{plat.imagen}}" data-holder-rendered="true">
            <div class="card-body">
              <h5 class="card-title">{{plat.nombre}}</h5>
              <p class="card-text">{{plat.descripcion}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" (click)="editPlat(plat)" class="btn btn-sm btn-danger">Ver/Editar</button>
                  <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- pagination -->
  <div class="modal" id="modalEditFood" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="{{plate$.imagen}}" data-holder-rendered="true">
        </div>
        <div class="modal-body">
          <p>{{plate$.descripcion}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</main>