<main role="main">
  <!-- show categories -->
  <section class="jumbotron text-center menu" style="margin: 0%">
    <div class="container">
      <h5 class="card-title font-subtitle">Menú de</h5>
      <h6 class="card-title font-title">{{restName}}</h6>
      <label style="margin-top: 6%" class="col col-form-label font-normal-sub">Observar platillos por categoría</label>  
        <div class="form-group row">
          <div class="col-md-4 offset-md-4">
            <select id="selectedCategory" [(ngModel)]="catSelected" (change)="updateMenu()" class="form-control opacity">
                <option *ngFor="let cat of categories"
                  [value]="cat">{{cat}}</option> 
              </select>
            </div>
        </div>
    </div>
  </section>
  <!-- platillos -->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div *ngFor="let plat of platillos$" class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{plat.imagen}}" width="200px" data-holder-rendered="true"> 
            <div class="card-body">
              <h5 class="card-title">{{plat.nombre}}</h5>
              <p class="card-text">{{plat.descripcion}}</p>
              <p class="card-text">Precio: {{plat.precio}}</p> 
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" (click)="editPlatModal(plat)" class="btn btn-sm btn-danger">Editar</button>
                  <button type="button" (click)="delPlatModal(plat)" class="btn btn-sm btn-danger">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- pagination -->
  <div class="modal" id="modalEditFood" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="card-img-top" src="{{imagePlate}}" width="300px" data-holder-rendered="true"> 
        </div>
        <div class="modal-body">
            <div class="form-group row"> 
                <label class="col-sm-3 col-form-label">Nombre: </label> 
                <!-- <div class="col-sm-8"> 
                  <input type="text" [(ngModel)]="namePlate" class="form-control" id="nameP" placeholder="Nuevo nombre..."> 
                </div>  -->
                <h5 class="col-sm-8 col-form-label">{{namePlate}}</h5> 
              </div> 
            <div class="form-group row"> 
              <label class="col-sm-3 col-form-label">Descripción: </label> 
              <div class="col-sm-8"> 
                <textarea class="form-control" maxlength="150" [(ngModel)]="descriptionPlate" rows="4"></textarea> 
              </div> 
            </div> 
            <div class="form-group row"> 
              <label class="col-sm-3 col-form-label">Precio: </label> 
              <div class="col-sm-8"> 
                <div class="input-group"> 
                  <div class="input-group-prepend"> 
                    <span class="input-group-text">₡</span> 
                  </div> 
                  <input type="text" [(ngModel)]="pricePlate" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Nuevo precio..."> 
                  <div class="input-group-append"> 
                    <span class="input-group-text">.00</span> 
                  </div> 
                </div> 
              </div> 
            </div> 
            <div class="form-group row"> 
              <label class="col-sm-3 col-form-label">Categoría: </label> 
              <div class="col-sm-8"> 
                <select [(ngModel)]="categoryPlate" class="form-control opacity">
                  <option *ngFor="let cat of allCategories"
                    [value]="cat">{{cat}}</option> 
                  </select>
              </div> 
            </div> 
            <div class="form-group row"> 
                <label class="col-sm-3 col-form-label">Imagen: </label> 
                <div class="col-sm-8"> 
                  <input type="text" [(ngModel)]="imagePlate" class="form-control" id="imageP" placeholder="Link nueva imagen..."> 
                </div> 
              </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button> 
          <button type="button" id="modalEditFoodSaveChanges" class="btn btn-danger" data-dismiss="modal">Guardar</button> 
        </div>
      </div>
    </div>
  </div>
  <!-- confirmation modal -->
  <div class="modal" id="modalSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Transacción exitosa</h5>
        </div>
        <div class="modal-body">
          <p>{{successMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- failed modal -->
  <div class="modal" id="modalFailed" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Transacción fallida</h5>
        </div>
        <div class="modal-body">
          <p>{{failedMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
    </div>
    <!-- delete platillo -->
    <div class="modal" id="modalDelFood" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar platillo</h5>
          </div>
          <div class="modal-body">
            <p>Está seguro de eliminar este platillo?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" id="modalDelFoodSaveChanges" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
</main>