<h5 *ngIf="orders?.length == 0" style="margin-top:3%; text-align: center" >No hay nada para mostrar</h5> 
<div *ngIf="orders?.length > 0" class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let head of headers" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" scope="row">
        <td style="text-align: center">{{order.cantidad}}</td>
        <td>{{order.nombre}}</td>
        <td>{{order.descripcion}}</td>
        <td>{{order.fecha | date: 'dd/MM/yyyy'}}</td>
        <td>{{order.fecha | date:'shortTime'}}</td>
        <td>{{order.email}}</td>
        <td>{{order.precio}}</td>
        <td>{{order.estado}}</td>
        <td>{{order.categoria}}</td>
        <td *ngIf="order.ubicacion._latitude == undefined && order.ubicacion._longitude == undefined">
          Recoger aquí</td>
        <td *ngIf="order.ubicacion._latitude != undefined && order.ubicacion._longitude != undefined">
          {{order.ubicacion._latitude}}°, {{order.ubicacion._longitude}}°</td>
        <td>{{order.entrega}}</td>  
        <td style="text-align: center;vertical-align: middle"><div class="btn-group">
          <button (click)="approveOrder(order.id)" class="btn-verify yes"><i class="material-icons">
            check_circle
            </i></button>
          <button class="btn-verify no" (click)="modalDeclineOrder(order.id)"><i class="material-icons">
            cancel
            </i></button>
        </div></td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination *ngIf="orders?.length > 0" (click)="updatePendingPagination($event)" class="col-md-12 justify-content-center" [collectionSize]="totalPages" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
<!-- decline modal -->
<div class="modal" id="modalDecline" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rechazar pedido</h5>
      </div>
      <div class="modal-body">
        <div class="form-group row"> 
          <label class="col-sm-4 col-form-label">Razón de rechazo: </label> 
          <div class="col-sm-8"> 
            <input type="text" [(ngModel)]="declineReason" class="form-control" id="nameP" placeholder="Justificación..."> 
          </div> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="declineOrder()" class="btn btn-info" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- confirmation modal -->
<div class="modal" id="modalSuccess" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transacción exitosa</h5>
      </div>
      <div class="modal-body">
        <p>{{successMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- failed modal -->
<div class="modal" id="modalFailed" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transacción fallida</h5>
      </div>
      <div class="modal-body">
        <p>{{failedMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>