.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}

ngb-pagination /deep/ .page-item.active .page-link {
    background-color: #117a8b !important;
    border: lightgray solid 1px;
    color: white;
}

ngb-pagination /deep/ .page-item .page-link {
    border: lightgray solid 1px;
    color: black;   
}

ngb-pagination /deep/ .page-item.disabled .page-link {
    color: gray;   
}

.btn-verify {
	text-align:center;  
    background-color: white;
    border: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.yes {
    color: green
}

.no {
    color: red
}