.body {
    background: url("assets/icons/wallpaper_restaurant_3.jpg");
    padding-top: 5%;
}
.cardlogin{
    margin: auto;
}

.centerBtn{
    text-align: center;
}

.centerDiv{
    text-align: center;
}
